<a href="https://colab.research.google.com/github/Hikaru-yokoo/EU_M_Math-Repositry/blob/main/chap6_Ex13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
from numpy import nan as NA
import pandas as pd



df2 = pd.DataFrame(np.random.rand(15,6))

# NAにする
df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA


df2.dropna()

           0         1         2         3         4         5
0   0.023590  0.196310  0.986912  0.608672  0.602733  0.011960
1   0.850513  0.036966  0.704804  0.912075  0.899366  0.569767
3   0.807285  0.333253  0.565942  0.028946  0.283827  0.927137
4   0.610842  0.917485  0.350952  0.589019  0.494899  0.076657
9   0.453880  0.941299  0.424183  0.488667  0.858372  0.681522
11  0.452724  0.511978  0.932921  0.587722  0.212884  0.122262
12  0.713677  0.749112  0.216477  0.371049  0.694139  0.919127
13  0.665887  0.158091  0.855665  0.394638  0.346233  0.090477
14  0.890901  0.162726  0.440347  0.244499  0.219246  0.741429