<a href="https://colab.research.google.com/github/Hikaru-yokoo/EU_M_Math-Repositry/blob/main/chap2_Ex08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#男女別の平均Moneyを求める

from pandas import Series, DataFrame
import pandas as pd


attri_data1 = {"ID":["1","2","3","4","5"],
               "Sex":["F","F","M","M","F"],
               "Money":[1000,2000,500,300,700],
               "Name":["Saito","Horie","Kondo","Kawada","Matsubara"]}
attri_data_frame1 = DataFrame(attri_data1)
attri_data_frame1.groupby("Sex")["Money"].mean()

Sex
F    1233.333333
M     400.000000
Name: Money, dtype: float64