<a href="https://colab.research.google.com/github/Hikaru-yokoo/EU_M_Math-Repositry/blob/main/chap6_Ex13%2614%2615.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
from numpy import nan as NA
import pandas as pd



df2 = pd.DataFrame(np.random.rand(15,6))

# NAにする
df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA


df2.dropna()

           0         1         2         3         4         5
0   0.710293  0.853328  0.347050  0.127853  0.252986  0.667574
1   0.337764  0.319140  0.613508  0.717405  0.528444  0.336903
3   0.408847  0.693129  0.815442  0.154543  0.158485  0.440184
4   0.913622  0.392814  0.962425  0.456186  0.649180  0.076069
9   0.885749  0.205771  0.905251  0.692460  0.023959  0.202717
11  0.221856  0.582579  0.378137  0.069358  0.321555  0.460254
12  0.073568  0.009035  0.303667  0.199666  0.166196  0.063140
13  0.506122  0.425014  0.742739  0.950962  0.504274  0.244854
14  0.090989  0.527811  0.623368  0.809942  0.581699  0.923171

In [7]:
df2.fillna(0)

           0         1         2         3         4         5
0   0.710293  0.853328  0.347050  0.127853  0.252986  0.667574
1   0.337764  0.319140  0.613508  0.717405  0.528444  0.336903
2   0.000000  0.903389  0.593305  0.991450  0.189456  0.800770
3   0.408847  0.693129  0.815442  0.154543  0.158485  0.440184
4   0.913622  0.392814  0.962425  0.456186  0.649180  0.076069
5   0.133580  0.072512  0.000000  0.728357  0.874416  0.904964
6   0.595446  0.399869  0.000000  0.495386  0.931838  0.076258
7   0.647416  0.317958  0.000000  0.000000  0.022671  0.689343
8   0.540565  0.479756  0.903201  0.000000  0.273852  0.900851
9   0.885749  0.205771  0.905251  0.692460  0.023959  0.202717
10  0.452475  0.979215  0.022213  0.129285  0.388380  0.000000
11  0.221856  0.582579  0.378137  0.069358  0.321555  0.460254
12  0.073568  0.009035  0.303667  0.199666  0.166196  0.063140
13  0.506122  0.425014  0.742739  0.950962  0.504274  0.244854
14  0.090989  0.527811  0.623368  0.809942  0.581699  0.923171

In [8]:
df2.fillna(df2.mean())

           0         1         2         3         4         5
0   0.710293  0.853328  0.347050  0.127853  0.252986  0.667574
1   0.337764  0.319140  0.613508  0.717405  0.528444  0.336903
2   0.465592  0.903389  0.593305  0.991450  0.189456  0.800770
3   0.408847  0.693129  0.815442  0.154543  0.158485  0.440184
4   0.913622  0.392814  0.962425  0.456186  0.649180  0.076069
5   0.133580  0.072512  0.600859  0.728357  0.874416  0.904964
6   0.595446  0.399869  0.600859  0.495386  0.931838  0.076258
7   0.647416  0.317958  0.600859  0.501758  0.022671  0.689343
8   0.540565  0.479756  0.903201  0.501758  0.273852  0.900851
9   0.885749  0.205771  0.905251  0.692460  0.023959  0.202717
10  0.452475  0.979215  0.022213  0.129285  0.388380  0.484789
11  0.221856  0.582579  0.378137  0.069358  0.321555  0.460254
12  0.073568  0.009035  0.303667  0.199666  0.166196  0.063140
13  0.506122  0.425014  0.742739  0.950962  0.504274  0.244854
14  0.090989  0.527811  0.623368  0.809942  0.581699  0.923171