<a href="https://colab.research.google.com/github/Hikaru-yokoo/EU_M_Math-Repositry/blob/main/special_math1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#足し算の例
print(1+ 1)
#掛け算の例
print(2*5)
#10の3乗、べき乗は**を使う
print(10**3)

2
10
1000

In [ ]:
msg  ="test"
print(msg)

test

In [ ]:
#インデックス0から始まるので1文字目が取りだされる。
msg[0]

't'

In [ ]:
data = 1
print(data)
data = data + 1
print(data)

1
2

In [ ]:
__import__("keyword").kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [ ]:
data_list = [1,2,3,4,5,6,7,8,9,10]
print(data_list)

print("変数のタイプ:",type(data_list))

print("2番目の数:",data_list[1])

print("要素数:",len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
変数のタイプ: <class 'list'>
2番目の数: 2
要素数: 10

In [ ]:
data_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
dic_data = {"apple":100, "banana":100, "orange":300, "mango":400, "melon":500}
print(dic_data["melon"])

500

In [ ]:
findvalue = 5

if findvalue in data_list:
  print("{0}は入っています。".format(findvalue))
else:
  print("{0}は入っていません。".format(findvalue))

5は入っています。

In [ ]:
print("{0}と{1}を足すと{2}です".format(2,3,5))

2と3を足すと5です

In [ ]:
total = 0
for num in [1,2,3]:
    print("num:",num)
    total = total + num

print("total:",total)

num: 1
num: 2
num: 3
total: 6

In [ ]:
for dic_key in dic_data:
  print(dic_key,dic_data[dic_key])

apple 100
banana 100
orange 300
mango 400
melon 500

In [ ]:
1 == 1

True

In [ ]:
findvalue = 5
#if文の開始
if findvalue in data_list:
    #条件式の結果が真の場合
    print("{0}は入っています。".format(findvalue))
else:
    #条件式の結果が偽の場合
    print("{0}は入っていません。".format(findvalue))

5は入っています。

In [ ]:
print("{0}と{1}を足すと{2}です".format(2,3,5))

2と3を足すと5です

In [ ]:
#初期値の設定
total = 0

#for文
for num in [1,2,3]:
    #取り出した数の表示
    print("num:",num)
    #今まで取り出した数の合計
    total = total + num

#最後に合計を表示
print("total:",total)

num: 1
num: 2
num: 3
total: 6

In [ ]:
for dic_key in dic_data:
    print(dic_key,dic_data[dic_key])

apple 100
banana 100
orange 300
mango 400
melon 500

In [ ]:
#range(N)としたとき0からN-1までの整数
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#range(1,11,2)は1から開始して２つ飛ばしで、11の手前まで取り出す。
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
#キーと値を取り出して表示する
for key, value in dic_data.items():
    print(key,value)

apple 100
banana 100
orange 300
mango 400
melon 500

In [ ]:
#空のリストを作成
data_list1 = []

#内包表記、data_listから1つ1つ要素を取り出し、2倍した数字を新たな要素とするリストを作成
data_list1 =[i * 2 for i in data_list]
print(data_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
[i * 2 for i in data_list if i % 2 == 0]

[4, 8, 12, 16, 20]

In [ ]:
for one, two in zip([1,2,3],[11,12,13]):
    print(one,"と",two)

1 と 11
2 と 12
3 と 13

In [ ]:
#初期値の設定
num = 1

#while文の開始
while num <= 10:
    print(num)
    num = num + 1

#while文の終わり

#最後に代入された値を表示する。
print("最後の値は{0}です".format(num))

1
2
3
4
5
6
7
8
9
10
最後の値は11です

In [ ]:
#掛け算をする関数
def calc_multi(a,b):
    return a * b

In [ ]:
calc_multi(3,10)

30

In [ ]:
def calc_print():
    print("printのサンプル関数")
  
calc_print()

printのサンプル関数

In [ ]:
#再帰関数の例（フィボナッチ数）
def calc_fib(n):
    if n == 1 or n == 2:
      return 1
    else:
      return calc_fib(n -1) + calc_fib(n -2)

print("フィボナッチ数:",calc_fib(10))

フィボナッチ数: 55

In [ ]:
#calc_multi関数を定義
def calc_multi(a,b):
    return a * b

#それを実行
calc_multi(3,10)

30

In [ ]:
(lambda a,b : a * b)(3,10)

30

In [ ]:
def calc_double(x):
    return x * 2


for num in [1,2,3,4]:
    print(calc_double(num))

list(map(calc_double,[1,2,3,4]))

2
4
6
8

[2, 4, 6, 8]

In [ ]:
list(map(lambda x : x * 2,[1,2,3,4]))

[2, 4, 6, 8]

In [ ]:
#PrintClassクラスの作成とprint_meメソッド（関数）の作成
class PrintClass:
    def print_me(self):
      print(self.x, self.y)

#インスタンスの作成、生成
p1 = PrintClass()

#属性の値を代入
p1.x = 10
p1.y = 100
p1.z = 1000

#メソッドの呼び出し
p1.print_me()

#追加した属性を表示
p1.z

10 100

1000

In [ ]:
class MyCalcClass:
    #コンストラクタ：オブジェクト生成時に呼び出される特殊な関数、初期化など
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def calc_add1(self,a,b):
        return a + b
    def calc_add2(self):
        return self.x + self.y
    def calc_multi(self,a,b):
        return a * b
    
    def calc_print(self,a):
        print("data:{0}:yの値{1}".format(a,self.y))

instance_1 = MyCalcClass(1,2)
instance_2 = MyCalcClass(5,10)


print("2つの数の足し算（新たに数字を引数としてセット):", instance_1.calc_add1(5,3))
print("2つの数の足し算（インスタンス化のときの値):", instance_1.calc_add2())
print("2つの数の掛け算:", instance_1.calc_multi(5,3))
instance_1.calc_print(5)

2つの数の足し算（新たに数字を引数としてセット): 8
2つの数の足し算（インスタンス化のときの値): 3
2つの数の掛け算: 15
data:5:yの値2

In [ ]:
print("2つの数の足し算（新たに数字を引数としてセット):", instance_2.calc_add1(10,3))
print("2つの数の足し算（インスタンス化のときの値):", instance_2.calc_add2())
print("2つの数の掛け算:", instance_2.calc_multi(4,3))
instance_2.calc_print(20)

2つの数の足し算（新たに数字を引数としてセット): 13
2つの数の足し算（インスタンス化のときの値): 15
2つの数の掛け算: 12
data:20:yの値10

In [ ]:
#practice1-1
#ある文字列(data Scienceなど)を変数に格納して、それを1文字ずつ表示させる。
keyword = ("data Science")
for i in range(len(keyword)):
    print(keyword[i])


print(keyword[0])

d
a
t
a

S
c
i
e
n
c
e
d

In [ ]:
#practice1-2
#1~50までの自然数の和を計算するプログラムを書いて、最後の計算結果を表示させる
num = 1
ans = 0
while num <= 50:
    ans = ans + num
    num = num + 1

print(ans)

In [ ]:
#総合問題
def get_primenumber(N):
    #素数リスト
    prime_list = [2]
    #3からNまでの数字を一つずつ取り出す
    for num in range(3,N+1,2):
      #取り出した数字が素数リストの要素で割れなければ素数リストに追加する
      if all( num % prime != 0 for prime in prime_list):
        prime_list.append(num)

    return prime_list

print(get_primenumber(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]